<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarePlus">
        <activity android:name=".PMS.Pms_Edit_clinical_record"></activity>
        <activity android:name=".PMS.Pms_clinical_record_list" />
        <activity android:name=".PMS.Pms_clinical_patient_list" />
        <activity android:name=".PMS.Pms_edit_patient_basic_info" />
        <activity android:name=".PMS.pms_patient_basic_list" />
        <activity android:name=".PMS.Pms_clinic_record_detailed" />
        <activity android:name=".PMS.Pms_patient_list_detailed" />
        <activity android:name=".PMS.Pms_patient_list" />
        <activity android:name=".PMS.Pms_add_clinical_record" />
        <activity android:name=".PMS.Pms_add_patient" />
        <activity android:name=".PMS.Pms_bmi_calculator" />
        <activity android:name=".PMS.Pms_home" />

        <activity android:name=".mms.Mms_updateEntry" />
        <activity android:name=".mms.Mms_viewMealPlans" />
        <activity android:name=".mms.Mms_supplementManager" />
        <activity android:name=".mms.Mms_viewMealPlan_usingDays" />
        <activity android:name=".mms.Mms_addNewPlan" />
        <activity android:name=".mms.Mms_dashboard" />

        <activity android:name=".wms.Wms_view_reports"></activity>
        <activity android:name=".wms.Wms_view_plans" />
        <activity android:name=".wms.Wms_create_schedule" />
        <activity android:name=".wms.Wms_dashboard" />

        <activity android:name=".Login_main" android:label="@string/login_lbl"></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>