<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarePlus">
        <activity android:name=".Pms_clinic_record_detailed"></activity>
        <activity android:name=".Pms_patient_list_detailed" />
        <activity android:name=".Pms_patient_list" />
        <activity android:name=".Pms_add_clinical_record" />
        <activity android:name=".Pms_add_patient" />
        <activity android:name=".Pms_bmi_calculator" />
        <activity android:name=".Pms_home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>